.bg-black{
  background-color: black;
  height: 85px;
  border-color: gray;

}

.pd-top{
  padding-top: 10px
}

.qc-1{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* White-80 */

  color: rgba(255, 255, 255, 0.8);
}

.qc-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;

  /* White */

  color: #FFFFFF;
}


.fab{
  color: gray;
}
.nav-link{
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px
}
.border-right{
  height: 85px;
}

















