.bg-danhmuc{
	background-color: rgba(40, 47, 54, 0.04);
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.abc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #990000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */


/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #990000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: blue;
}

.red{
	background-color: red;
}
.vangnhat{
	background-color: #FFD980;
}
.yellow{
	background-color: #FFA34D;
}
.pink{
	background-color: pink;
}
.purple{
	background-color: #AC8EE3;
}
.xanhnhat{
	background-color: #A2D2FC;
}
.xanhla{
	background-color: #3DC47E;
}
.nau{
	background-color: #967C62;
}
.black{
	background-color: black;
}
.xam{
	background-color: #93979B;
}
.white{
	background-color: white;
}

.container input:checked ~ .red {
	background-color: red;
}
.container input:checked ~ .vangnhat{
	background-color: #FFD980;
}
.container input:checked ~ .pink {
	background-color: pink;
}
.container input:checked ~ .purple {
	background-color: #AC8EE3
}
.container input:checked ~ .yellow {
	background-color: #FFA34D;
}
.container input:checked ~ .xanhnhat {
	background-color:  #A2D2FC;
}
.container input:checked ~ .xanhla {
	background-color: #3DC47E;
}
.container input:checked ~ .nau {
	background-color: #967C62;
}
.container input:checked ~ .black {
	background-color: black;
}
.container input:checked ~ .xam {
	background-color:  #93979B;
}
.container input:checked ~ .white {
	background-color:  white;
}
.container .white:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: blue;
}

.btn-outline-secondary {
	width: 55px;
	margin-left: 10px;
}

.title-case {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}