<!DOCTYPE html>
<html lang="">
<head>
    <!-- jQuery -->
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/responsive.css" rel="stylesheet" />
    <meta charset="utf-8">
    <title></title>
    <!-- custom javascript -->
    <!-- <script src="js/script.js" type="text/javascript"></script> -->

</head>
<body>
<header class="section-header">
    <section class="header-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-lg-3 col-12">
                    <a href="/">
                        <div class="brand-wrap">
                            <img class="logo" src="images/logo.png" />
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-5 col-12">
                    <form action="#" class="search">
                        <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Search"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- search-wrap .end// -->
                </div>
                <!-- col.// -->
                <div class="col-md-5 col-lg-4 col-sm-12 col-12 text-md-right">
                    <div class="mt-3 mt-md-0">
                        <a href="/login" class="btn btn-outline-primary">Đăng nhập</a>
                        <a href="/create" class="btn btn-primary">Đăng ký</a>
                        <a href="/giohang" class="btn btn-light">
                            Giỏ hàng <span class="ml-2 badge badge-warning">3</span>
                        </a>
                        <button
                                class="btn float-right btn-light d-md-none"
                                type="button"
                                data-toggle="collapse"
                                data-target="#main_nav"
                                aria-controls="main_nav"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- container.// -->
    </section>
</header>

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <article id="form" class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Đăng nhập</h4>
            </header>

                <a href="http://fb.com/" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp Đăng nhập
                    Facebook</a>
                <a href="https://www.google.com.vn/" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp Đăng nhập bằng Google</a>
            <form action="/login" method="post">
                <div class="form-row form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder=""/>
                    <small class="form-text">Error Message</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>Mật khấu</label>
                    <input class="form-control" id="password" name="password" type="password">
                    <small class="form-text">Error Message</small>
                    <button type="submit" class="btn btn-primary btn-block"> Đăng nhập</button>
                </div> <!-- form-group// -->
            </form>
            <hr>
            <p class="text-center mt-4">Không có tài khoản? <a href="dangky.html">Đăng ký </a></p>
        </article>
    </div> <!-- card .// -->
    <br><br>
</section>

<footer class="section-footer border-top " style="background-color: white;">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md-4">
                    <article class="mr-3">
                        <img src="images/logo.png" class="logo" height="60px">
                        <p class="mt-3">Website bán và cập nhật các sản phẩm về công nghệ.</p>
                        <div>
                            <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </article>
                </aside>
                <aside class="col-sm-3 col-md-2">
                    <h6 class="title">About</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Services</a></li>
                        <li> <a href="#">Rules and terms</a></li>
                        <li> <a href="#">Blogs</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3 col-md-2">
                    <h6 class="title">Services</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Help center</a></li>
                        <li> <a href="#">Money refund</a></li>
                        <li> <a href="#">Terms and Policy</a></li>
                        <li> <a href="#">Open dispute</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3  col-md-2">
                    <h6 class="title">For users</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> User Login </a></li>
                        <li> <a href="#"> User register </a></li>
                        <li> <a href="#"> Account Setting </a></li>
                        <li> <a href="#"> My Orders </a></li>
                        <li> <a href="#"> My Wishlist </a></li>
                    </ul>
                </aside>
                <aside class="col-sm-2  col-md-2">
                    <h6 class="title">Our app</h6>
                    <a href="https://www.apple.com/ios/app-store/" class="d-block mb-2"><img src="images/appstore.png" height="40"></a>
                    <a href="https://play.google.com/store?hl=vi"  class="d-block mb-2"><img src="images/playmarket.png" height="40"></a>
                </aside>
            </div> <!-- row.// -->
        </section>  <!-- footer-top.// -->

        <section class="footer-copyright border-top">
            <p class="float-left text-muted"> &copy 2020 Company  All rights resetved </p>

        </section>
    </div><!-- //container -->
</footer>

</body>
<!--<script src="js/formdn.js" type="text/javascript"></script>-->
</html>
