.bg-header{
	height: 90px;
}
.col-sm{
  padding: 30px;
}
.btn-outline-secondary{
	height: 40px;	
}
.form-control{
	height: 40px;
}
.link-header{
	margin-right: 30px;
	color: black;
}
.new{
	width: 50px;
	height: 25px;
	background-color :#3DC47E;
	color: white;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 12px 5px 12px;
	border-radius: 5px;

}

.title-new{
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	display: flex;
	padding-top: 50px;
}

.img-1{
	padding :35px;
	padding-right: 176px;
}

.setting{
	margin-left: 210px;
	float: left;
}

.information{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	padding-top: 20px; 
}
.buy{
	height: 40px;
	width: 189px;
	background-color: #4592FF;
	color: white;
	border-radius: 15px;
	margin-top: 45px;
}

.content{
	padding: 20px;
}

.carousel-botom{
	padding-top: 70px;

}
.carousel-control-prev,
.carousel-control-next{
	color: gray;
	font-size: 30px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
	color: black;
}

.card-title{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: black;
}
.card-text{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;	
}
.rv{
	padding: 20px
}

a:hover{
	text-decoration: none;
	font-weight: bold;
	color:black;
}

.firm{
	background-color: rgba(40, 47, 54, 0.04);
}

.iconify{
	font-size: 45px; 
	color: red;
	margin: 40px 51px  20px 0;
}

.title-sale{
	padding-top: 60px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 35px;
}

.title-newsp{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: white;
	margin-top: 20px;
	padding: 60px;
	padding-bottom: 30px;
}
.bg-newsp{
	background: linear-gradient(to bottom,#3DC47E 40%,white 60%);
}

.card-bg{
	background-color: white;
	border-radius: 10px;

}
.card-newsp{
	height: 370px;
	width: 285px;
}
.name-spnew{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
}

.arrow {
  border: solid ;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.bt-newsp{
	border-radius: 50px;
	height: 40px;
	width: 139px;
}

.title-newsp2 {
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	display: flex;
	align-items: center;
	padding: 45px 0 25px 0;
}

.pd-bottom{
	margin-bottom: 60px; 
}
.slide2{
	padding-left:  25px; 
}

.bg-goiy{
background: linear-gradient(to bottom,#AC8EE3 40%,white 60%); /* W3C */
}

.logoo{
	color: #4592FF;
	font-size: 50px;
}

.bot-goiy{
	margin-top: 66px;
	margin-bottom: 96px;
}

.span-1{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	display: flex;
	align-items: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.bt-send{
	background-color:  #4592FF;
}
.fa-paper-plane{
	color: white;
}

.bg-upper{
	background-color: rgba(40, 47, 54, 0.04);
	height: 90px;
}

.row-footer{
	padding: 30px;
}

.logo-footer{
	padding-left: 200px ; 
}

.link-footer{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
}
.bg-footer{
	margin: 45px 113px 79px 113px;
}
.fa-chevron-left,
.fa-chevron-right{
	color: gray;
}

