<!DOCTYPE html>
<html>
<head>
    <title>Tạo mới sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Thêm CSS tùy ý */
    </style>
</head>
<body>
<div class="container w-50">
    <h1>Tạo mới sản phẩm</h1>
    <form method="post" action="/products">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" name="model" required>
        </div>
        <div class="form-group">
            <label for="place">Địa điểm</label>
            <input type="text" class="form-control" id="place" name="place" required>
        </div>
        <div class="form-group">
            <label for="category_id">ID danh mục</label>
            <input type="text" class="form-control" id="category_id" name="category_id" required>
        </div>
        <div class="form-group">
            <label for="vote">Đánh giá</label>
            <input type="number" class="form-control" id="vote" name="vote" required>
        </div>
        <div class="form-group">
            <label for="created_at">Ngày tạo</label>
            <input type="date" class="form-control" id="created_at" name="created_at" required>
        </div>
        <div class="form-group">
            <label for="color">Màu sắc</label>
            <input type="text" class="form-control" id="color" name="color" required>
        </div>
        <div class="form-group">
            <label for="price">Giá</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="quantity">Số lượng</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>
        <div class="form-group">
            <label for="status">Trạng thái</label>
            <input type="text" class="form-control" id="status" name="status" required>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>

<!--        <div class="form-group">-->
<!--            <label for="description">Mô tả</label>-->
<!--            <input type="text" class="form-control" id="description" name="description" required>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
