<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/sale.css">

    <!-- jQuery -->
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom style -->
    <link href="css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/responsive.css" rel="stylesheet"/>

    <!-- custom javascript -->
    <script src="js/script.js" type="text/javascript"></script>
</head>

<body>
<!-- Page Wrapper -->


<%- include('../header.ejs'); -%>
<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">


        <div class="container">
            <h3 class="mt-5 mb-4 ">Tạo mới sản phẩm</h3>
            <form method="post" action="/me-change-password">
                <div class="form-group">
                    <label for="name">current password</label>
                    <input type="text" class="form-control"  id="currentPassword"
                            name="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="model">password you want to change</label>
                    <input type="text" class="form-control"  id="changePassword" name="password"
                           name="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Chỉnh sửa thông tin </button>
            </form>
        </div>
        <!-- /.container-fluid -->

        <!-- Footer -->
        <%- include('../footer.ejs'); -%>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyD85CAddITR3vphdazZa3v4RqeIMpW2jNA",
        authDomain: "shoppingpr-7a3fb.firebaseapp.com",
        projectId: "shoppingpr-7a3fb",
        storageBucket: "shoppingpr-7a3fb.appspot.com",
        messagingSenderId: "385941042740",
        appId: "1:385941042740:web:6c7ae7e53edd0326293c61",
        measurementId: "G-M3F622G3V6"
    };
    firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript">
    function uploadImage(e) {
        let fbBucketName = 'images';
        let uploader = document.getElementById('uploader');
        let files = e.target.files;  // Lấy danh sách các file đã được chọn
        for (let i = 0; i < files.length; i++) {
            let file = files[i];
            let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
            let uploadTask = storageRef.put(file);
            uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
                function (snapshot) {
                    console.log(snapshot);
                    uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED:
                            break;
                        case firebase.storage.TaskState.RUNNING:
                            break;
                    }
                }, function (error) {
                    switch (error.code) {
                        case 'storage/unauthorized':
                            break;
                        case 'storage/canceled':
                            break;
                        case 'storage/unknown':
                            break;
                    }
                }, async function () {
                    let downloadURL = await uploadTask.snapshot.downloadURL;
                    console.log(downloadURL);
                    let imgDiv = document.getElementById('imgDiv');
                    let imgElement = document.createElement('img');
                    imgElement.setAttribute('height', '200px');
                    imgElement.setAttribute('width', '200px');
                    imgElement.setAttribute('src', downloadURL);
                    imgDiv.appendChild(imgElement);
                    let imageInput = document.getElementById('image');
                    imageInput.value += downloadURL + ";";
                    check();
                });
        }
    }
</script>
</body>

</html>